%div.row.painting
  %div.row
    %div.col-12
      %div.painting-header
        %span.painting-title="&laquo;#{post.title == '' ? 'Unitled' : post.title}&raquo;"
        %span.painting-user='par <a href="/user/' + "#{post.user.id}" '">' + "#{post.user.name}" + '</a>'
        %span.painting-date="- #{post.created_at.strftime('%B %d, %Y') rescue 'unknown'}"
  %div.row
    %div.col-12
      %a{href: "/post/#{post.id}"}
        %img.img-thumbnail.painting{src: post.file}
